@import "../../styles/rwd";

.roadmap-comp {
  background-color: #DE3592;
  position: relative;
  padding-top: 0 !important;
  padding-bottom: 0 !important;

  .border-img-top, .border-img-bottom {
    height: 200px;
    position: absolute;
    width: 100%;
    left: 0;
    background-size: 100% 100% !important;
  }

  .border-img-top {
    background: url("../../assets/imgs/borderTop1.png") no-repeat center;
    top: 0;
  }

  .border-img-bottom {
    background: url("../../assets/imgs/borderTop.png") no-repeat center;
    bottom: -200px;
    transform: scaleX(-1);
  }

  &-container {
    height: 100%;
    padding-top: 224px;
    padding-bottom: 24px;
  }

  @include mobile {
    .border-img-top, .border-img-bottom {
      height: 100px;
    }
    .border-img-bottom {
      bottom: -100px;
    }
    .container {
      padding-top: 124px;
    }
  }
}

.roadmap-comp-container .item-container {
  z-index: 1;
  background-color: rgba(0, 0, 0, .2);
  padding: 20px 10px;

  &:not(:last-child) {
    margin-bottom: 36px;
  }

  .item-title, .roadmap-percent {
    color: #000000;
    font-family: Impact, sans-serif;
    font-size: 72px;
    @include mobile {
      font-size: 50px;
    }
  }

  .item-title {
    margin-bottom: 24px;
  }

  .roadmap-detail {
    &:not(:first-child) {
      margin-top: 12px;
    }
  }

  .desc {
    color: #ffffff;
    font-family: Impact, sans-serif;
    font-size: 30px;
    @include mobile {
      font-size: 25px;
    }

    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }
}