@import "./rwd";

@font-face {
  font-family: "Impact";
  src: url(ImpactLTStd.woff) format("woff");
}

@font-face {
  font-family: "Monstar";
  src: url(MrMonstar.woff) format("woff");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Impact', sans-serif !important;
}

.comp-height-with-parallax {
  min-height: 100vh;
  padding-left: 0 !important;
  padding-right: 0 !important;

  .react-parallax-bgimage {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
  }

  .blur-dark-bg {
    background-color: rgba(0, 0, 0, .2);
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }
}

.comp-height-without-parallax {
  min-height: 100vh;
  padding: 24px 0;
}

.comp-slime-sug-bg {
  position: absolute;
  width: 100%;
  height: 150px;
  bottom: -150px;
  z-index: 1;

  img {
    width: 100%;
    height: 100%;
  }

  @include mobile {
    height: 80px;
    bottom: -80px;
  }
}
