@import "../../styles/variables";
@import "../../styles/rwd";

.about-comp {
  &-container {
    min-height: 100vh;
  }
}

.about-comp-container .about-comp-content {
  .content-img {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;

    img {
      width: 80%;
      object-fit: cover;
    }

    @include mobile {
      display: none;
    }
  }

  .content-detail {
    display: grid;
    grid-template-columns: 1fr 3fr;
    z-index: 1;

    .content-title, .content {
      padding: 20px 10px 20px 20px;
    }

    .content-title {
      background-color: $primary-color;

      .bg-blur-mobile {
        display: none;
      }

      .title {
        font-family: Monstar, sans-serif !important;
        color: #ffffff;
        text-align: center;
        font-weight: lighter;
        font-size: 50px;
        z-index: 1;
      }
    }

    .content {
      background-color: #f0d9d9;

      .desc {
        font-size: 24px;
        line-height: 35px;
      }
    }

    @include mobile {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 12px;
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }

  @include mobile {
    padding: 24px 0;
  }
}