@import "../../styles/rwd";

.about-comp {
  background-color: rgb(235, 80, 45);
  position: relative;

  &-container {
    min-height: 100vh;
  }
}

.about-comp-container .about-comp-title {
  z-index: 1;

  .title, .sub-title {
    color: #ffffff;
  }

  .title {
    font-size: 72px;
    font-weight: bold;
    @include mobile {
      font-size: 40px;
    }
  }

  .sub-title {
    font-size: 30px;
    margin-top: 24px;
    @include mobile {
      font-size: 25px;
    }
  }
}